version: "3.8"

services:
  backend:
    build: ./backend
    image: simplewebapplication-backend:latest
    container_name: backend
    environment:
      DATABASE_URL: mysql+pymysql://myuser:mypassword@mysqldb:3306/mydatabase
    ports:
      - "5000:5000"
    networks:
      - app-network
    depends_on:
      - db

  frontend:
    build: ./frontend
    image: simplewebapplication-frontend:latest
    container_name: frontend
    ports:
      - "5173:5173"
    networks:
      - app-network

  db:
    image: mysql:latest
    container_name: mysqldb
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge