apiVersion: v1
kind: Pod 
metadata:
  name: myapp-pod
  namespace: default
  labels:
    app: myapp
spec:
  serviceAccountName: webapp-sa
  volumes:
    - name: kv-secrets
      csi:
        driver: secrets-store.csi.k8s.io
        readOnly: true
        volumeAttributes:
          secretProviderClass: "azure-kv-secrets"
  containers:
    - name: myapp-container
      image: alpine:3.20
      command: ["/bin/sh", "-c"]
      args:
        - >
          apk add --no-cache curl bind-tools netcat-openbsd mysql-client &&
          sleep infinity
      volumeMounts:
        - name: kv-secrets
          mountPath: "/mnt/secrets-store"
          readOnly: true
      stdin: true
      tty: true
