apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysqldb
  namespace: default
  labels:
    app: mysqldb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysqldb
  template:
    metadata:
      labels:
        app: mysqldb
    spec:
      containers:
      - name: mysqldb
        image: balaji36490/simplewebapplication:mysqldb
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysqldb-secret
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: mysqldb-secret
              key: MYSQL_DATABASE
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: mysqldb-secret
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysqldb-secret
              key: MYSQL_PASSWORD
        volumeMounts:
        - name: mysqldb-data
          mountPath: /var/lib/mysql         # MySQL data directory
        - name: kv-secrets
          mountPath: /mnt/secrets-store
          readOnly: true
      volumes:
      - name: mysqldb-data
        persistentVolumeClaim:
          claimName: mysqldb-pvc

      - name: kv-secrets
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: "mysqldb-secrets"


